#page {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 50em;
}
#page > article {
  float: left;
  margin-right: 5%;
  width: 70%;
}
#page > aside {
  float: right;
  width: 25%;
}

video {
  max-width: 100%;
}
